body {
  font-family: "Righteous", 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background: azure;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border: 1px solid black !important;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.past {
  background-color: #d3d3d3;
  color: #000000;
}

.present {
  background-color: #ff6961;
  color: #000000;
}

.future {
  background-color: #77dd77;
  color: #000000;
}

.saveBtn {
  border: 1px solid #0387a1;
  border-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.custom-width-lg {
  width: 70%;
}

.card {
  margin: 0 auto;
  float: none;
  width: 18rem;
}